@charset "UTF-8";
ul {
  list-style: none; }

ul li {
  padding: 15px;
  display: inline-block; }

ul a {
  text-decoration: none;
  font-size: 16px;
  color: #444444; }

/* General */
.titulo {
  color: #802020;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 60px;
  text-align: center; }

.subtitulo {
  color: whitesmoke;
  font-size: 50px;
  text-align: center; }

.fuente {
  font-family: Red Rose;
  src: url("https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;500;700&display=swap"); }

.img_fondo {
  background-image: linear-gradient(to left, #434343, #000000);
  background-size: cover; }

body {
  font-family: 'Red Rose', cursive; }

nav {
  background-color: #802020;
  word-spacing: 100px;
  font-size: 30px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly; }

a {
  text-decoration: none;
  color: white; }

/*footer {position: absolute; 
    bottom: 0; 
    width: 100%;
    margin-top: 50px;}*/
.direccion {
  /*text-align:right; 
        margin-right: 50px;*/ }

.horario {
  color: white;
  /*margin-left: 50px;*/ }

/*.header__menu__carousel__image {width: 500px;
                                height: 750px;}

.header__menu__carousel__text {font-size: 50px;}

.header__menu__link1 {font-size: 40px;}

.header__menu__link {font-size: 30px;}*/
@media only screen and (min-width: 320px) {
  nav {
    font-size: 10px; }
  .titulo {
    font-size: 20px; }
  .direccion {
    font-size: 12px;
    text-align: center; }
  .horario {
    font-size: 12px;
    text-align: center; }
  .text-carrusel {
    font-size: 12px; }
  .subtitulo {
    font-size: 20px; }
  .descrip {
    font-size: 12px; }
  .TituloReparacion {
    font-size: 12px; }
  .font_rep {
    font-size: 10px; }
  .TitRep {
    font-size: 20px; }
  .SubRep {
    font-size: 12px; }
  .ImgServicios {
    width: 150px;
    height: 100px; }
  #DesCon {
    font-size: 10px; }
  .tel {
    font-size: 12px; }
  .whats {
    font-size: 12px; }
  .telefono-imagen {
    height: 20px;
    width: 20px;
    border-radius: 20px; }
  .whatsapp-imagen {
    height: 20px;
    width: 20px;
    border-radius: 20px; }
  .FotoCasa {
    height: 200px; } }

@media only screen and (min-width: 768px) {
  nav {
    font-size: 20px; }
  .titulo {
    font-size: 40px; }
  .direccion {
    font-size: 15px;
    text-align: center; }
  .horario {
    font-size: 15px;
    text-align: center; }
  .text-carrusel {
    font-size: 30px; }
  .subtitulo {
    font-size: 35px; }
  ·descrip {
    font-size: 20px; }
  .TituloReparacion {
    font-size: 20px; }
  .font_rep {
    font-size: 15px; }
  .TitRep {
    font-size: 35px; }
  .SubRep {
    font-size: 10px; }
  .ImgServicios {
    width: 300px;
    height: 200px; }
  #DesCon {
    font-size: 15px; }
  .tel {
    font-size: 15px; }
  .whats {
    font-size: 15px; }
  .telefono-imagen {
    height: 35px;
    width: 35px;
    border-radius: 35px; }
  .whatsapp-imagen {
    height: 35px;
    width: 35px;
    border-radius: 35px; }
  .FotoCasa {
    height: 350px; } }

@media only screen and (min-width: 1024px) {
  nav {
    font-size: 30px; }
  .titulo {
    font-size: 60px; }
  .direccion {
    font-size: 20px; }
  .horario {
    font-size: 20px; }
  .text-carrusel {
    font-size: 50px; }
  .subtitulo {
    font-size: 50px; }
  .descrip {
    font-size: 30px; }
  .TituloReparacion {
    font-size: 30px; }
  .font_rep {
    font-size: 20px; }
  .TitRep {
    font-size: 50px; }
  .SubRep {
    font-size: 30px; }
  .ImgServicios {
    width: 500px;
    height: 400px; }
  #DesCon {
    font-size: 20px; }
  .tel {
    font-size: 20px; }
  .whats {
    font-size: 20px; }
  .telefono-imagen {
    height: 50px;
    width: 50px;
    border-radius: 50px; }
  .whatsapp-imagen {
    height: 50px;
    width: 50px;
    border-radius: 50px; }
  .FotoCasa {
    height: 500px; } }

/*Nosotros*/
.descrip {
  /*font-size: 30px;*/
  color: whitesmoke;
  text-align: justify;
  padding: 50px; }

.FotoCasa {
  width: 100%;
  border-radius: 20px; }

.MiniTitulo {
  color: #802020;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 70px;
  text-align: center; }

/*Reparación*/
.TituloReparacion {
  text-align: center;
  color: whitesmoke; }

.FormularioRep {
  text-align: center;
  color: whitesmoke; }

/*Servicios*/
.BodyRep {
  color: whitesmoke;
  text-align: center;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(4, 450px);
  grid-template-areas: "DivHijo1 DivHijo2" "DivHijo3 DivHijo4" "DivHijo5 DivHijo6" "DivHijo7 DivHijo8";
  padding: 20px;
  justify-content: space-evenly; }

.TitRep {
  color: whitesmoke; }

.SubRep {
  color: whitesmoke; }

.EstRep {
  word-spacing: unset; }

table {
  color: whitesmoke;
  background-color: #802020;
  border-collapse: collapse; }

.lista {
  text-align: justify; }

.DisplayHilos {
  display: inline; }

/*Contacto*/
#DesCon {
  text-align: center;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% auto;
  grid-template-areas: "mail mail" "tel whats";
  padding: 20px;
  justify-content: space-evenly; }

.mail {
  grid-area: mail; }

.tel {
  grid-area: tel; }

.whats {
  grid-area: whats; }
