#DesCon {font-size: 20px;
    text-align: center;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% auto;
    grid-template-areas:
    "mail mail"
    "tel whats";
    padding: 20px;
    justify-content: space-evenly;}

.mail {grid-area: mail;}

.tel {grid-area: tel; font-size: 30px;}

.whats {grid-area: whats; font-size: 30px;}